@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  /* Text and background colour variables */
  --bg-white: #ffffff;
  --bg-dark-white: #f9f9f9;
  --bg-grey: #b0b0b0;
  --bg-beige: #f2ebdb;
  --bg-light-green: #afc6bd;
  --bg-green: #3b755f;
  --bg-blue: #2e3a8c;
  --bg-black: #212121;

  /* borders */
  --border-grey: #b0b0b0;
  --border-light-green: #afc6bd;

  /* shadow colours */
  --shadow-colour-light-green: #afc6bd80;

  /* shadows */
  --panel-shadow: 0px 0.78px 2.99px 0px rgba(0, 0, 0, 0.012),
    0px 3.42px 6.19px 0px rgba(0, 0, 0, 0.0196),
    0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.025),
    0px 16.18px 24.21px 0px rgba(0, 0, 0, 0.0304),
    0px 27.22px 44.51px 0px rgba(0, 0, 0, 0.038),
    0px 42px 76px 0px rgba(0, 0, 0, 0.05);

  --tooltip-shadow: 0px 0.78px 2.99px 0px rgba(0, 0, 0, 0.012),
    0px 3.42px 6.19px 0px rgba(0, 0, 0, 0.0196),
    0px 8.4px 12.35px 0px rgba(0, 0, 0, 0.025),
    0px 16.18px 24.21px 0px rgba(0, 0, 0, 0.0304),
    0px 27.22px 44.51px 0px rgba(0, 0, 0, 0.038),
    0px 42px 76px 0px rgba(0, 0, 0, 0.05);

  /* z-index */
  --z-index-default: 1;
  --z-index-tooltip: 100;
}

/* HTML elements are styled and positioned based on element borders */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  Removes default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  /* remove all default button styling */
  all: unset;
}

a {
  color: var(--bg-green);
}

/* Avoid text overflows, remove default margins and padding */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

h5 {
  font-size: 1.1165rem;
  font-weight: 700;
  line-height: 1.3569rem;
  text-align: left;
}

h6 {
  font-size: 0.776rem;
  font-weight: 400;
  line-height: 0.9419rem;
  text-align: left;
}
